body{
    background-color: #03070c;
}
.bg-light-dark{
    background-color: #575d63;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
    flex: 1;
}